#icon {
        background-color: yellow;
      }
#one {
        width: 50%;
  height: 400px;
}


.flip-card {
        background-color: transparent;
        width: 264px;
        height: 250px;
        perspective: 1000px;
        display: inline-block;
      }
      
      .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      }
      
      .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
      }
      
      .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }
      
      .flip-card-front {
        background-color: #bbb;
        color: black;
      }
      
      .flip-card-back {
        background-color: yellow;
        color:black;
        transform: rotateY(180deg);
        text-align: left;
      }

    #space{
            height: 7px;
    }

    #space2{
            height: 7px;
    }

    .centered {
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
      }

      .checked {
        color:red;
      }